sudo: false
language: rust
os:
  - linux
  - osx
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust:
      - beta
      - nightly
script:
- cargo build
- cargo test
- cargo build --features clippy
- cargo test --features clippy
- cargo doc
